body {
    background-color: darkgray;
    background-image: url(CreationsBackground.png)
  }
  
  #wrapper {
    background-image: url(CreationsBackground.png);
    margin: 24px auto;
    width: 1200px;
    border: 1px solid black;
    padding: 24px;
    background-color: #eeefee;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 24px;
    grid-template-rows: repeat(4,1fr);
  }

  header{
    grid-column: span 12;
    color: white;
    text-align: center;
    font-family: 'Sedgwick Ave Display', cursive;
    font-weight: none;
    border: solid 4px white;
    border-radius: 10px;
    /*background-color: light red;
    */
}

nav{
  grid-column: span 12;
  grid-row: span 2;
  text-align: center;
  margin-top: 20px;
}
nav ul{
  list-style-type: none;
  margin: 20px;
  margin-left: 125px;
  padding: 0;
  color:white
}

nav li {
  border: 2px solid black;
  width: 200px;
  padding: 0px;
  margin-bottom:  40px;
  margin-right: 35px;
  background:linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(231,231,231,1) 82%);
  display: inline-block;
  color: white;
}

nav li a{
  text-decoration: none;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  display: block;
  padding: 20px;
  margin: 20px;
}

  #myCarousel{
    grid-column: span 4;
    grid-row: row 3 ;
    margin-left: 0px;
    margin-bottom: 24px;
    border: 3px solid black;
    width: 400px;
  }
  
  #myCarousel img {
  width: 100%;
  }
  
  #myCarousel .f-carousel__slide {
    text-align: center;
    padding: 24px;
    background: #eee;
  }

  #myCarousel2{
    grid-column: span 4;
    grid-row: row 3;
   margin-right: 2px;
    margin-bottom: 24px;
    border: 3px solid black;
    width: 400px;
  }
  
  #myCarousel2 img {
  width: 100%;
  }
  
  #myCarousel2 .f-carousel__slide {
    text-align: center;
    padding: 24px;
    background: #eee;
  }

  #myCarousel3{
    grid-column: span 4;
    grid-row: row 3;
   /*margin-right: 500px;*/
    margin-bottom: 24px;
    border: 3px solid black;
    width: 400px;
  }
  
  #myCarousel3 img {
  width: 100%;
  }
  
  #myCarousel3 .f-carousel__slide {
    text-align: center;
    padding: 24px;
    background: #eee;
  }