body {
    background-color: darkgray;
  }
  
  #wrapper {
    margin: 24px auto;
    width: 1200px;
    border: 1px solid black;
    padding: 24px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 24px;
    grid-template-rows: repeat(3,1fr);
    background-image: url(portfolio\ pic.jpg);
  }

header{
    grid-column: span 12;
    grid-row: span 1;
    color: white;
    text-align: center;
    font-family: 'Sedgwick Ave Display', cursive;
    font-weight: none;
    border: solid 4px white;
    border-radius: 10px;
    /*background-color: light red;
    */
}

nav{
    grid-column: span 12;
    grid-row: span 2;
    text-align: center;
}
  nav ul{
    list-style-type: none;
    margin: 20px;
    margin-left: 125px;
    padding: 0;
    color:white
  }
  
  nav li {
    border: 2px solid black;
    width: 200px;
    padding: 0px;
    margin-bottom:  40px;
    margin-right: 35px;
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(96,132,161,1) 0%, rgba(17,128,236,1) 33%);
    display: inline-block;
    color: white;
  }
  
  nav li a{
    text-decoration: none;
    color: aqua;
    font-family: Helvetica, Arial, sans-serif;
    display: block;
    padding: 20px;
    margin: 20px;
  }

  main{
    grid-column: span 12;
    grid-row: span 3;
    text-align: center;
  }